<!-- start custom head snippets -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind+Siliguri">

  <!-- working with internet: -->
  <script type="text/javascript" async
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  <!-- <script async type="text/javascript" src="{{ '/assets/js/MathJax.js?config=TeX-AMS_HTML-full' | relative_url }}"></script> -->


<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
